<div class="container">
  <div class="row">
    <div class="card">
      <h2>GOOG</h2>
      <h4>$35.56</h4>
      <p>+1.2345</p>
      <p>
        <b>Last Trade</b>
        <span>06:58:45</span>
      </p>
      <h3>VOL: 8640</h3>
    </div>

    <div class="card">
      <h2>GOOG</h2>
      <h4>$35.56</h4>
      <p>+1.2345</p>
      <p>
        <b>Last Trade</b>
        <span>06:58:45</span>
      </p>
      <h3>VOL: 8640</h3>
    </div>

    <div class="card">
      <h2>GOOG</h2>
      <h4>$35.56</h4>
      <p>+1.2345</p>
      <p>
        <b>Last Trade</b>
        <span>06:58:45</span>
      </p>
      <h3>VOL: 8640</h3>
    </div>

    <div class="card">
      <h2>GOOG</h2>
      <h4>$35.56</h4>
      <p>+1.2345</p>
      <p>
        <b>Last Trade</b>
        <span>06:58:45</span>
      </p>
      <h3>VOL: 8640</h3>
    </div>
  </div>
</div>
