<div class="container">
  <div class="row">
    @for (ticker of tickers; track ticker) {
      <div class="card" [ngClass]="{'positive-change': ticker.todaysChange > 0, 'negative-change': ticker.todaysChange < 0}">
        <h2>{{ ticker.ticker }}</h2>
        <h4>${{ ticker.day.o }}</h4>
        <p>${{ ticker.todaysChange }}</p>
        <p>
          <b>Last Update</b>
          <span>{{ ticker.updated | date:'shortDate' }}</span>
        </p>
        <h3>VOL: {{ ticker.day.v }}</h3>

        <label class="switch">
          <input type="checkbox" [(ngModel)]="ticker.isActive">
          <span class="slider round"></span>
        </label>
      </div>
    }
  </div>
</div>
